
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h1>Forgot Password Confirmation</h1>

<h3>A mail has been sent to you with a link to reset your passwrod. Please follow the link to reset your password.</h3>

