
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<h1>Reset Password Confirmation</h1>

<h3>Your password has been changed successufully. Please click <a asp-area="" asp-controller="Account" asp-action="Index">here</a> to login again</h3>

