@model BCPLAlumniPortal.Models.UserMedicalClaim
@{
    ViewData["Title"] = "ClaimDetails";
}

<h2>Claim Details</h2>


@* <div class="row">
    @if (Model.attachments.Any())
    {
        <div class="row align-items-start">
            <div class="col">
                <h4>Attachments</h4>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="hstack gap-3">
                @foreach (var x in Model.attachments)
                {
                    if (x.FileType.Contains("image/"))
                    {
                        <a href="@Url.Action("ViewAttachment", "Home", new { id = x.id })" target="_blank" class="thumbnail">
                            <img src="@Url.Content(String.Format(x.FilePath+"/{0}", x.FileName))" alt="" width="200" height="200" />
                        </a>
                    }
                    else if (x.FileType == "application / pdf")
                    {
                        <a href="@Url.Action("ViewAttachment", "Home", new { id = x.id })" target="_blank">Click to View @x.FileName</a>
                    }
                }
            </div>
        </div>
    }
</div> *@
