@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="NewClaim">Submit New Claim</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ViewClaims">View My Claims</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
    </ul>
</div>
